.main {

  margin-bottom: 100px;

  &__wrap {
    @include alignment;
    @include flex-alignment(flex, space-between, flex-start);
    max-width: 1080px;
  }

  &__generated-form {
    @include alignment;
    max-width: 1080px;
  }

  .login {

    width: 45%;
    padding: 30px 0;

    &__form { width: 60%; }

    &__label { font-size: 1.7em; }

    &__input {
      width: 100%;
      height: 33px;
      border: 1px solid $gray-light;
      padding: 6px 12px;
      vertical-align: middle;
      color: $gray-smooth;
      margin: 20px 0;
      outline: none;

      &--checkbox {
        width: 5%;
        margin-left: 10px;
      }

    }

    &__input--error { border-color: $red; }

    &__username__error,
    &__password__error { color: $red; }

  }

  .controls {
    margin: 30px 0;
    padding-top: 20px;
    border-top: 1px solid $gray-light;
  }

}