$black: #000;
$white: #fff;

$green: #24ba63;
$lime-green: #a3c644;
$lime-dark-green: #90b332;

$yellow: #ffcd03;
$red: #f74b39;

$blue: #60bac8;
$dark-blue: #1a9cb0;

$darkGray: #3f4748;
$gray: #95999b;
$silver: #e3e6e7;
$gray-smooth: #666;
$gray-light: #ccc;

$turqoise: #1a9cb0;

$raspberry: #e20a5b;