@mixin border($width:1px , $style: solid, $color: black){
  border: {
    width: $width;
    style: $style;
    color: $color;
  }
}

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


@mixin alignment() {
  margin: 0 auto;
}

@mixin font-rules($family: sans-serif, $size: 1em, $color: black, $line-height: 16px, $weight: 400, $transform: capitalize, $decor: none){
  font: {
    family: $family;
    size: $size;
    weight: $weight;
  }
  line-height: $line-height;
  color: $color;
  text-transform: $transform;
  text-decoration: $decor;
}

@mixin flex-alignment($display: flex, $justify: space-between, $align: center, $wrap: no-wrap){
  display: $display;

  -webkit-box-pack: $justify;
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-flex-pack: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;

  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;

  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin button-style($width: 0, $height:0, $bgColor:transparent){
  background: $bgColor;
  width: $width;
  height: $height;
  display: block;
  text-align: center;
  line-height: $height;
  position: relative;
}

@mixin box-shadow {
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
  box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
}

@mixin gradient($first-color:transparent, $second-color:transparent, $third-color:transparent){
  background: $first-color;
  background: -moz-linear-gradient(45deg, $first-color 0%, $second-color 54%, $third-color 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, $first-color), color-stop(54%, $second-color), color-stop(100%, $third-color));
  background: -webkit-linear-gradient(45deg, $first-color 0%, $second-color 54%, $third-color 100%);
  background: -o-linear-gradient(45deg, $first-color 0%, $second-color 54%, $third-color 100%);
  background: -ms-linear-gradient(45deg, $first-color 0%, $second-color 54%, $third-color 100%);
  background: linear-gradient(45deg, $first-color 0%, $second-color 54%, $third-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$first-color, endColorstr=$second-color, GradientType=1 );
}

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}